@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827; /* 거의 검정 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
